.agents {
  @extend %container;

  &__list {
    display: grid;
    justify-content: space-between;
    gap: 3.2rem;
    width: 100%;
    margin-top: 6.4rem;
    overflow-y: scroll;
    grid-template-columns: repeat(3, 1fr);

    @media only screen and (max-width: $bp-lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-md) {
      grid-template-columns: repeat(9, 1fr);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__card {
    display: flex;
    gap: 1.4rem;
    padding: 2.6rem;
    background-color: white;
    border: 1px solid $color-primary;
    border-radius: 15px;
    align-items: center;

    > div {
      display: flex;
      flex-direction: column;
      align-self: center;
      gap: 2rem;
      width: 100%;
    }

    h6 {
      letter-spacing: -0.04em;
    }
  }

  &__card-contacts {
    display: flex;
    gap: 1.2rem;

    a {
      padding: 0.7rem;
      background-color: black;
      border-radius: 100%;
      display: flex;
      align-items: center;
    }
  }

  &__card-photo {
    height: 90%;
    width: auto;
    align-items: center;
  }
}
