.benefits {
  .section-header {
    h2 {
      max-width: 40%;
    }
    p {
      max-width: 40%;
    }

    @media only screen and (max-width: $bp-md) {
      h2 {
        max-width: 100%;
        font-size: 3.2rem;
      }
      p {
        max-width: 100%;
      }
    }
  }

  &__card-list {
    display: flex;
    width: 100%;
    gap: 1.4rem;
    margin-top: 6.4rem;
    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__card {
    padding: 4rem;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    width: 100%;

    @media only screen and (max-width: $bp-md) {
      padding: 2.4rem;
      min-width: 33.5rem;
    }
  }

  &__card-icon {
    padding: 2.2rem;
    background-color: $color-primary;
    width: fit-content;
    border-radius: 15px;

    margin-bottom: 6.4rem;
  }
}
