header.section {
  padding-top: 156px;
  padding-bottom: 122px;

  @media only screen and (max-width: $bp-lg) {
    padding-top: 104px;
    padding-bottom: 96px;
  }
}

.hero {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: $bp-lg) {
    margin: 0;
    padding: 0 10rem;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 9.6rem;
  }

  @media only screen and (max-width: $bp-sm) {
    padding: 0 2rem;
  }

  &__title {
    @extend %heading;
    font-size: 7.2rem;
    line-height: 88px;

    @media only screen and (max-width: $bp-lg) {
      font-size: 6.5rem;
      line-height: 88px;
    }

    @media only screen and (max-width: $bp-md) {
      font-size: 4.8rem;
      line-height: 56px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    max-width: 685px;

    > .paragraph {
      max-width: 457px;
      font-size: 20px;
    }
  }

  &__text {
    max-width: 84%;

    @media only screen and (max-width: $bp-lg) {
      max-width: 100%;
    }

    & > :not(:first-child) {
      margin-top: 2.4rem;
    }
  }

  &__right {
    width: 420px;
    margin-left: -12rem;
    background-size: cover;

    @media only screen and (max-width: $bp-lg) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 10rem;
      width: 100%;
      height: 88rem;
    }

    @media only screen and (max-width: $bp-md) {
      margin-left: 0;
      margin-right: 0;

      height: 46rem;
    }
  }

  &__illustration {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    > div:first-child {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;

      > img:first-child {
        width: 53%;
        position: absolute;

        @media only screen and (max-width: $bp-lg) {
          width: 40%;
          left: 4%;
        }
      }

      > img:last-child {
        width: 55%;
        position: absolute;
        top: 9.5%;
        right: 0;

        @media only screen and (max-width: $bp-lg) {
          width: 40%;
          right: 25%;
          top: 15%;
        }

        @media only screen and (max-width: $bp-md) {
          width: 40%;
          top: 10%;
        }
      }
    }

    > div:last-child {
      position: relative;
      width: 100%;
      height: 100%;

      > img {
        position: absolute;
        width: 53%;
        right: -8%;
        top: -35%;

        @media only screen and (max-width: $bp-lg) {
          width: 37%;
          right: 18%;
          top: -45%;
        }

        @media only screen and (max-width: $bp-md) {
          width: 40%;
          right: 14%;
          top: -25%;
        }

        @media only screen and (max-width: $bp-sm) {
          top: -40%;
        }
      }
    }
  }

  &__pattern {
    z-index: -2;
    position: absolute;
    top: -16px;
    bottom: 0;
    left: 50%;
    right: auto;
    pointer-events: none;
    overflow: hidden;
    width: 50%;

    > img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }

    @media only screen and (max-width: $bp-lg) {
      bottom: -55%;
      left: 0;
      width: 100%;
      height: 85%;
    }
  }
}

.cta {
  display: flex;
  justify-items: center;
  text-wrap: nowrap;
  gap: 2.4rem;
  border-radius: 15px;
  border: 1px solid black;
  padding: 2rem;
  width: fit-content;
  background-color: white;
  z-index: 1;

  @media only screen and (max-width: $bp-md) {
    flex-direction: column;
    width: 100%;
    padding: 16px;
    gap: 16px;
  }

  .btn-primary {
    padding: 18px 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    &-icon {
      background-color: $color-primary;
      padding: 1rem;
      border-radius: 15px;

      display: flex;
      align-items: center;

      @media only screen and (max-width: $bp-md) {
        padding: 0.75rem;
      }
    }
  }
}
