.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  background-color: $color-background;

  &__brand {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media only screen and (max-width: $bp-sm) {
      margin-bottom: 0;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-background;
    padding: 2rem 0;

    > .btn-secondary {
      @media only screen and (max-width: $bp-lg) {
        display: none;
      }
    }
  }

  &__links {
    @media only screen and (max-width: $bp-lg) {
      display: none;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 6.4rem;
      font-size: 1.8rem;
      list-style: none;
    }
  }

  &__link {
    &--item {
      list-style: none;
    }
  }

  &__dropdown {
    display: none;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-lg) {
      display: block;
      position: relative;
    }
  }

  &__checkbox:checked + &__button .btn-hamburger {
    background-color: transparent;
  }

  &__checkbox:checked + &__button .btn-hamburger::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button .btn-hamburger::after {
    transform: rotate(-135deg);
    top: 0;
  }

  &__checkbox:checked ~ .navbar-mobile {
    top: 8rem;
  }

  &__checkbox {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  top: -1000px;
  right: 0;
  width: 100%;
  background-color: $color-background;
  z-index: -10;

  transition: all 0.4s;

  display: none;

  @media only screen and (max-width: $bp-lg) {
    display: block;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 4rem 8rem;
    list-style: none;
    gap: 1rem;

    @media only screen and (max-width: $bp-xl) {
      padding: 2rem 10rem;
    }

    @media only screen and (max-width: $bp-lg) {
      padding: 2rem 5rem;
    }
    @media only screen and (max-width: $bp-sm) {
      padding: 2rem;
    }
  }

  &__link-item {
    padding: 2rem;
    font-size: 1.8rem;
  }
}
