.navbar {
  padding: 0 14rem;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  background-color: $color-background;

  @media only screen and (min-width: $bp-xlargest) {
    max-width: 144rem;
  }

  @media only screen and (max-width: $bp-largest) {
    padding: 0 10rem;
  }

  @media only screen and (max-width: $bp-large) {
    padding: 0 5rem;
  }
  @media only screen and (max-width: $bp-small) {
    padding: 0 2rem;
  }

  &__brand {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media only screen and (max-width: $bp-small) {
      margin-bottom: 0;
    }

    img {
      width: 40px;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
    background-color: $color-background;

    @media only screen and (min-width: $bp-xlargest) {
      max-width: 144rem;
      padding: 2rem 8rem;
    }
  }

  &__links {
    @media only screen and (max-width: $bp-large) {
      display: none;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 6.4rem;
      font-size: 1.8rem;
      list-style: none;
    }
  }

  &__link {
    &--item {
      list-style: none;
    }
  }

  &__contact {
    padding: 1.6rem 3.2rem;
    font-size: 1.6rem;
    border: 2px solid $color-grey-dark-1;
    border-radius: 15px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: black;
      color: white;
    }

    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__dropdown {
    display: none;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
      display: block;
      position: relative;
    }
  }

  &__checkbox:checked + &__button .btn-hamburger {
    background-color: transparent;
  }

  &__checkbox:checked + &__button .btn-hamburger::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button .btn-hamburger::after {
    transform: rotate(-135deg);
    top: 0;
  }

  &__checkbox:checked ~ .navbar-mobile {
    top: 8rem;
  }

  &__checkbox {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  top: -1000px;
  right: 0;
  width: 100%;
  background-color: $color-background;
  z-index: -10;

  transition: all 0.4s;

  display: none;

  @media only screen and (max-width: $bp-large) {
    display: block;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 4rem 8rem;
    list-style: none;
    gap: 1rem;

    @media only screen and (max-width: $bp-largest) {
      padding: 2rem 10rem;
    }

    @media only screen and (max-width: $bp-large) {
      padding: 2rem 5rem;
    }
    @media only screen and (max-width: $bp-small) {
      padding: 2rem;
    }
  }

  &__link-item {
    padding: 2rem;
    font-size: 1.8rem;
  }
}
