.subscribe {
  @extend %container;

  &__card {
    color: white;
    margin: 8rem 14rem;
    padding: 5.6rem 7.2rem;
    background-color: $color-primary-dark;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;

    @media only screen and (max-width: $bp-large) {
      margin: 4rem 7rem;
      padding: 2rem 3rem;
    }

    @media only screen and (max-width: $bp-medium) {
      margin: 4rem 2rem;
      padding: 2rem 3rem;
      flex-direction: column;
    }

    > :first-child {
      max-width: 45%;
      width: inherit;

      @media only screen and (max-width: $bp-medium) {
        max-width: 100%;
      }

      > h2 {
        font-size: 4.8rem;
        font-family: $font-display;

        @media only screen and (max-width: $bp-medium) {
          font-size: 2.8rem;
        }
      }

      > p {
        margin-bottom: 2.4rem;
        color: #e7dcff;
      }
    }

    > :last-child {
      width: 50%;
    }

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      gap: 6.4rem;
    }
  }

  &__form {
    position: relative;

    @media only screen and (max-width: $bp-medium) {
      display: flex;
      flex-direction: column;
    }

    > button {
      position: absolute;
      padding: 1.6rem 3.2rem;
      right: 8px;
      transform: translateY(0.9rem);

      @media only screen and (max-width: $bp-medium) {
        position: static;
      }
    }

    > input {
      width: 100%;
      min-height: 8rem;
      border: none;
      border-radius: 15px;
      padding: 0 16px;

      &:focus {
        border: 1px solid black;
      }

      @media only screen and (max-width: $bp-medium) {
        min-height: 6rem;
      }
    }
  }
}
