.subscribe {
  &__card {
    color: white;

    padding: 5.6rem 7.2rem;
    background-color: $color-primary-dark;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    position: relative;
    overflow: hidden;
    max-width: 1240px;
    width: calc(100% - 4rem);
    margin: 8rem auto;

    @media only screen and (max-width: $bp-lg) {
      padding: 4.8rem 5.6rem;
      margin: 4rem;
      width: auto;
    }

    @media only screen and (max-width: $bp-md) {
      padding: 3.2rem;
      margin: 2rem;
    }

    @media only screen and (max-width: $bp-sm) {
      padding: 2.4rem 2.4rem 24rem;
      flex-direction: column;
    }

    > :first-child {
      width: 100%;
      flex: none;
      max-width: 41.4rem;
      z-index: 2;

      @media only screen and (max-width: $bp-sm) {
        max-width: none;
      }

      > h2 {
        font-size: 4.8rem;
        line-height: 56px;
        font-family: $font-display;

        @media only screen and (max-width: $bp-md) {
          font-size: 2.8rem;
          line-height: 44px;
        }
      }

      > p {
        margin-bottom: 2.4rem;
        color: #e7dcff;
      }
    }

    > :last-child {
      width: 55%;
      position: absolute;
      top: -150px;
      bottom: -22px;
      left: auto;
      right: 0%;
      z-index: 1;

      > img {
        width: auto;
        height: 100%;
        transform: rotateX(0) rotateY(180deg) rotate(0);
        pointer-events: none;
      }

      @media only screen and (max-width: $bp-sm) {
        width: auto;
        right: auto;
        top: auto;
        height: 350px;
        bottom: -16px;
        left: -92px;
      }
    }

    // @media only screen and (max-width: $bp-md) {
    //   flex-direction: column;
    //   gap: 6.4rem;
    //   width: 100%;
    // }
  }

  &__form {
    position: relative;

    @media only screen and (max-width: $bp-sm) {
      display: flex;
      flex-direction: column;
    }

    > button {
      position: absolute;
      padding: 1.6rem 3.2rem;
      right: 8px;
      transform: translateY(0.9rem);

      @media only screen and (max-width: $bp-sm) {
        position: static;
      }
    }

    > input {
      width: 100%;
      min-height: 8rem;
      border: none;
      border-radius: 15px;
      padding: 0 16px;

      &:focus {
        border: 1px solid black;
      }

      @media only screen and (max-width: $bp-sm) {
        min-height: 6rem;
      }
    }
  }
}
