%heading {
  font-family: $font-display;
  font-weight: 600;
  color: black;
  letter-spacing: -0.04em;
}

.heading-section {
  @extend %heading;
  font-size: 4.8rem;
  line-height: 56px;

  @media only screen and (max-width: $bp-md) {
    font-size: 4rem;
    line-height: 40px;
  }
}

.heading-1 {
  @extend %heading;
  font-size: 7.2rem;
  line-height: 88px;
}
.heading-2 {
  @extend %heading;
  font-size: 4.2rem;
  line-height: 48px;
}
.heading-3 {
  @extend %heading;
  font-size: 4rem;
  line-height: 48px;
}
.heading-4 {
  @extend %heading;
  font-size: 4rem;
  line-height: 48px;
}

.heading-5 {
  @extend %heading;
  font-size: 3.2rem;
  line-height: 40px;
}

.heading-6 {
  @extend %heading;
  font-size: 2.4rem;
  line-height: 32px;
}

.paragraph {
  font-size: 16px;
  font-family: $font-primary;
  font-weight: 300;
  color: #686a79;
  line-height: 20px;

  &-big {
    font-size: 20px;
    line-height: 30px;
  }

  &-medium {
    font-size: 18px;
    line-height: 22px;
  }

  &-small {
    font-size: 14px;
    line-height: 24px;
  }
}

.bold {
  font-weight: 700;
}
.semibold {
  font-weight: 600;
}

.btn-primary {
  padding: 16px 32px;

  font-size: 16px;
  font-weight: 700;
  font-family: $font-primary;

  border-radius: 15px;

  color: white;
  background-color: black;

  cursor: pointer;

  transition: all 0.2s ease;

  &:hover {
    background-color: $color-primary-dark;
    border-color: transparent;
  }
}

.btn-link {
  transition: all 0.2s;
  &:visited,
  &:link {
    text-decoration: none;
    color: black;
  }

  &:hover {
    color: $color-primary-dark;
  }
}

.btn-secondary {
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid $color-grey-dark-1;
  border-radius: 15px;
  transition: all 0.2s;
  cursor: pointer;
  background-color: transparent;
  width: fit-content;
  display: inline-block;

  &:hover {
    background-color: $color-primary-dark;
    color: white;
  }
}

.btn-hamburger {
  position: relative;

  &,
  &::before,
  &::after {
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: $color-grey-dark-1;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }

  &::before {
    top: -0.8rem;
  }

  &::after {
    top: 0.8rem;
  }
}

.center {
  display: flex;

  align-items: center;
  gap: 2px;
}
